<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468972636774-d8toqjc0n94ijs0huup7ag8t6daa80g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468972636774-d8toqjc0n94ijs0huup7ag8t6daa80g3</string>
	<key>API_KEY</key>
	<string>AIzaSyDwCy3oZTscPuR87gZNcZ7phO1h4aH9rVc</string>
	<key>GCM_SENDER_ID</key>
	<string>468972636774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wiseintern</string>
	<key>PROJECT_ID</key>
	<string>thewiseworks-website</string>
	<key>STORAGE_BUCKET</key>
	<string>thewiseworks-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468972636774:ios:d7b3d9723dcc99dda87ba7</string>
</dict>
</plist>